body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}



.all {
    width: 350px;
    height: 500px;
    background-color:  rgb(4, 4, 49);
    margin-left: 335px;
    margin-top: 130px;
}

h1 {
    color:  gray;
    font-size: 30px;
    margin-left: 110px;
}

p {
    color: gray;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 25px;
}

input {
    margin-left: 20px;
    width: 300px;
    height: 26px;
}

button {
    width: 290px;
    height: 50px;
    margin-left: 30px;
    margin-top: 60px;
   background-color: rgb(64, 150, 230);
}

.background {
    width: 350px;
    height: 650px;
    background-color:  rgb(4, 4, 49);
    margin-left: 335px;
    margin-top: 130px;
}

h2 {
    color: gray;
    margin-left: 92px;
    font-size: 30px;
}